<script id="bootstrap-current-user" type="text/javascript">
  <% if logged_in? %>
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  <% end %>
</script>

<div id="root">

</div>

<script>
window.people = "<%= asset_path('People.png')%>"
window.message = "<%= asset_path('Message.png')%>"
window.globe = "<%= asset_path('Globe.png')%>"
</script>
