.main-page-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 40px;
}

.main-page-left-menu {
  padding: 10px;
  margin-left: 190px;
}

.main-page-news-feed {
  padding: 10px;
  margin-right: 190px;
}

.create-post-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  height: 225px;
  width: 500px;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #dddfe2;
}

.create-post-form > ul > form > textarea {
  resize: none;
  width: 400px;
  height: 100px;
  text-align: left;
  padding-left: 10px;
  padding-top: 20px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 18px;
  font-size: 14px;
  border: none;
}

.create-post-form > h4 {
  display: flex;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 2px;
  background-color: #f6f7f9;
  border-bottom: 1px solid #dddfe2;
  border-radius: 2px 2px 0 0;
  width: 494px;
  height: 34px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 300px;
  padding: 0px 3px 0px 3px;
  color: #4b4f56;
}

.create-post-form > h4 > span {
  padding: 0px 10px 0px 0px;
  letter-spacing: 0.01em;
  font-size: 16px;
  border-right: 1px solid #ced0d4;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.create-post-form > h4 > span > img {
  width: 13px;
  height: 13px;
  padding: 2px;
  padding-left: 20px;
  padding-right: 8px;
}

.create-post-insides {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border-bottom: 1px solid #bdc7d8;
}

.create-post-insides > p {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.create-post-insides > p > img {
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 50%;
  width: 37px;
  height: 37px;
}

.create-post-errors {
  background-color: pink;
  border: 1px solid red;
  border-radius: 5px;
  width: auto;
  font-size: 14px;
  font-weight: 300;
  padding: 5px 5px 5px 5px;
}

.user-name-timestamps > span {
  font-size: 14px;
}

.profile-page-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-photos {
  position: relative;
  top: 15px;
}

.cover-photo-image {
  overflow: hidden;
  width: 850px;
  height: 320px;
  padding-right: 120px;
  position: relative;
}

.cover-photo-image > img {
  border-radius: 3px;
  border: 1px solid #000;
  border-color: rgba(0, 0, 0, .25);
  border-top-color: rgba(0, 0, 0, .1);
  box-shadow: 0.5px 0.5px 0.5px lightgray;
}

.profile-page-top-navbar {
  display: flex;
  flex-direction: row;
  align-items: left;
}

.profile-photo-image {
  width: 168px;
  height: 168px;
  position: absolute;
  display: flex;
  top: 175px;
  left: 13px;
  border: 1px solid gray;
  border-radius: 2px;
}

.profile-photo-image > img {
  border: 4px solid white;
  position: relative;
  overflow: hidden;
}
.profile-page-top-navbar {
  background-color: white;
  width: 850px;
  height: 45px;
}

.profile-page-top-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  border-bottom: 1px solid gray;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  font-family: SF Optimized, system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #365899;
}

.profile-page-top-navbar > li {
  padding: 5px 30px 10px 30px;
  border-right: 1px solid lightgray;
}

.first-one {
  padding-left: 190px;
}

.last-one {
  padding-right: 175px;
}

.profile-page-main-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 30px;
  padding-right: 70px;
}
