.friend-icons {
  background-color: white;
  padding-top: 10px;
  max-width: 330px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
  min-height: 25px;
}

.friend-list {
  display: flex;
  flex-direction: column;
  border-color: rgba(0, 0, 0, .4);
}

.friend-list p {
  padding-left: 5px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.friend-list p > img {
  width: 35px;
  height: 32px;
  padding-bottom: 5px;
}

.friends-list {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

.friends-list-item {
  flex: 0 0 28%;
  height: 100px;
  margin-bottom: 5px;
}

.friends-list-item img {
  height: 100px;
  width: 100px;
  margin-right: 5px;
  margin-left: 5px;
}
