.main-page {
  display: flex;
  position: center;
  flex-direction: column;
}
.main-page-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 42px;
  width: 100%;
  background-color: #4267b2;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  position: fixed;
  top: 0;
}

.main-page-nav > h1 > button {
  font-size: 30px;
  font-weight: bold;
  width: 27px;
  height: 30px;
  background-color: white;
  color: #4267b2;
  text-align: right;
  border-radius: 2px;
  margin-left: 70px;
}

.main-page-nav-right-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
  padding: 5px;
}

.nav-bar-pics {
  display: flex;
  padding: 10px;
  align-items: center;
}

.nav-bar-people img {
  width: 28px;
  height: 28px;
  padding: 2px;
}

.nav-bar-main-button {
  background-color: #4267b2;
  color: white;
  font-size: 12px;
  line-height: 18px;
  width: 50px;
  text-align: center;
  border: 1px solid #29487d;
  font-family: Arial;
  font-weight: bold;
}

.main-page-nav-ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  padding-right: 20px;
}

.main-page-nav-ul > button > span {
  width: 38px;
  height: 38px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.main-page-nav-ul > button > span > img {
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 50%;
  width: 27px;
  height: 25px;
}

.main-page-nav-ul > button {
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 28px;
  padding-right: 10px;

}

.main-page-nav-ul > ul {
  padding: 5px;
  border-left: 1px solid #365899;
  padding-left: 10px;

}
