.sign-up-form {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.other-half-of-form {
  display: flex;
  flex-direction: row;
}

.sign-up-form > h1 {
  font-size: 36px;
  font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif !important;
  font-weight: bold;
  letter-spacing: 0.4px;
  color: #333;
}

.sign-up-form > h3 {
  font-size: 19px;
  font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif !important;
  font-weight: 100;
  letter-spacing: 0.6px;
  color: #333;
}

.other-half-of-form > li > h5 {
  font-size: 19px;
  font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif !important;
  font-weight: 400;
  letter-spacing: 0.6px;
  color: #333;
  margin: 20px 0px 10px 0px;
}

.other-half-of-form > li > h6 {
  font-size: 19px;
  font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif !important;
  font-weight: 400;
  letter-spacing: 0.6px;
  color: #333;
  margin: 10px 0px 10px 0px;
}

.sign-up-form-names {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.sign-up-form-names > input {
  width: 193;
  height:23px;
  border: 1px solid #bdc7d8;
  text-align: left;
  border-radius: 5px;
  background-color: white;
  padding: 8px 10px 8px 10px;
  margin: 5px;
}

.sign-up-form-emails > input {
  width: 407px;
  height:21px;
  border: 1px solid #bdc7d8;
  text-align: left;
  border-radius: 5px;
  background-color: white;
  padding: 8px 10px 8px 10px;
  margin: 4px;
}

.sign-up-form-birthdays {
  display: flex;
  flex-direction: row;
}

select {
  height: 30px;
  font-size: 12px;
}

.sign-up-button {
  width: 195px;
  height: 40px;
  text-align: center;
  background: linear-gradient(#67ae55, #578843);
  background-color: #69a74e;
  box-shadow: inset 0 1px 1px #a4e388;
  border-color: #3b6e22 #3b6e22 #2c5115;
  color: white;
  font-weight: 700;
  text-shadow: 0 1px 2px rgba(0,0,0,.5);
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 5px;
}

.sign-up-errors {
  background-color: pink;
  border: 1px solid red;
  border-radius: 5px;
  width: 230px;
  font-size: 14px;
  font-weight: 300;
  padding-top: 5px;
  padding-left: 5px;

}

ul > .sign-up-error-form {
  border: 1px solid red;
}

.footer-logo {
  width: 30px;
  height: 30px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer > span {
  padding: 10px;
  margin: 5px;
}

footer > a {
  padding: 10px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

footer > a > img {
  padding-top: 5px;
}

footer > a > p {
  padding-top: 5px;
  padding-left: 5px;
}
