.sign-in-page {
  display: flex;
  flex-direction: column;
  font-family: verdana;
  align-items: center;
}

.footer {
  background-color: white;
  height: 20%;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.sign-in-page-body {
  display: flex;
}

.sign-in-page-body > img {
  overflow: hidden;
  width: 620px;
  height: 450px;
  border-radius: 10px;
}

.sign-in-page-nav {
  background-color: #3b5998;
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
  height: 85px;
  width: 100%;
  align-items: center;
}

.sign-in-page-nav > h1 {
  font-size: 40px;
  color: white;
  font-weight: bold;
  padding-left: 100px;
}
