.description-column {
  display: flex;
  flex-direction: column;
}

.user-description {
  padding-top: 15px;
  font-family: SF Optimized, system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
  padding-right: 20px;
  padding-bottom: 10px;
}

.user-description > div {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 290px;
  height: 260px;
  padding-right: 40px;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
}

.img-and-span-description {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 450px;
}

.img-and-span-description > img {
  width: 30px;
  height: 30px;
  padding: 10px 10px 10px 10px;
}

.user-information-list {
  max-width: 350px;
  margin: auto;
  padding-left: 10px;
}

.user-information-list > p {
  width: 310px;
  height: 180px;
  background-color: white;
  padding-top: 15px;
  border-top: 1px solid #e9ebee;
  font-size: 12px;
}
