.profile-page {
  display: flex;
  position: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: 950px;
}

.profile-page-body {
  padding-top: 25px;
}

.profile-page-postings {
  padding-left: 225px;
}
