.logo-and-search-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: calc(100% - 302px);
  max-width: 400px;
  min-width: 200px;
}

.search-bar {
  padding-left: 5px;
  background-color: white;
  margin-left: 5px;
  height: 30px;
  border-radius: 2px;
  /* width: 300px; */
  width: 100%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
  text-align: left;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  font-size: 14px;
  color: black;
  position: relative;
}

.search-bar-input {
  display: flex;
  /* flex-direction: row;
  justify-content: space-between; */
  align-items: center;
}

.search-bar-input input {
  /* width: 250px; */
  width: 100%;
}

.search-bar-input img {
  width: 50px;
  height: 30px;
}

.closed-search {
  display: none !important;
}

.nav-search-user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* width: 300px; */
}

.open-search {
  /* width: 300px; */
  z-index: 10;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  font-family: SF Optimized, system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
  z-index: 100;
  letter-spacing: -0.01em;
  font-size: 12px;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 3px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
  color: black;
}

.nav-search-user-info:hover {
  background-color: #e9ebee;
}

.nav-search-user-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 10px 10px 10px
}

.search-bar-dropdown {
  position: absolute;
  top: 30px;
  width: 100%;
  max-width: 400px;
}

.nav-search-no-results {
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}
