<!DOCTYPE html>
<html>
  <head>
    <title>ArchaicTome</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link type="text/css" rel="stylesheet" href="https://static.xx.fbcdn.net/rsrc.php/v3/y8/l/0,cross/Ucyf8DhAgH-.css" data-bootloader-hash="1MZZY" data-permanent="1" crossorigin="anonymous">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
